body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}
 
/*
 * Create dark grey header with a white logo
 */
  
header {
  background-color: #2B2B2B;
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
}
 
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}

.resultado {
  margin: 0;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  float: left;
}
 
header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}
 
/*
 * Center the body content
 */
  
.container {
  width: 940px;
  margin: 0 auto;
}
 
div.jumbo {
  padding: 10px 0 30px 0;
  background-color: #eeeeee;
  height: 870px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}
 
h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h2.Sadio {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
  color: green;
}
h2.Doente {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
  color: red;
}
 
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.big-green {
        width: 700px;
        margin-left: 120px;
        margin-top: 40px;
        border-radius: 10px;
        padding: 5px;
        background: #000924;
        border: 1px solid #111;
        box-shadow: 0 2px 3px #333;
}

.big-green div {
        background: #1cc300 url(../img/type_4.gif) top right;
        border-radius: 6px;
        box-shadow: 0 5px 5px #ccc inset;
        text-indent: 99999px;
        overflow: hidden;
}